@import url("https://use.typekit.net/wzf8vdn.css");

/** Families **/
$primary-font: upgrade,sans-serif;
$secundary-font: open-sans,sans-serif;
$tertiary-font: indie-flower,sans-serif;

/** Sizes **/
$head-size: 45px;
$title-size: 35px;
$subtitle-size: 25px;
$text-size: 15px;
$small-size: 13px;
$extrasmall-size: 11px;

/** Colors **/
$blue-color: #2CAEF8;
$grey-color: #FBFAFA;
$green-color: #65BF56;
$red-color: #FF8A8A;